:root {
    --base-grid: 8px;
    --colour-body-background: transparent;
    --colour-background: transparent;
    --colour-background-folded: transparent;
    --colour-background-stripes: rgba(255, 255, 255, .5);
    --colour-text: #1a1a1a;
}