:root {
    --base-grid: 8px;
    --colour-body-background: transparent;
    --colour-background: transparent;
    --colour-background-folded: transparent;
    --colour-background-stripes: rgba(255, 255, 255, .5);
    --colour-text: #1a1a1a;
}

// #card {
//     height: 20rem;
//     width: 20rem;
//     background: rgba(255, 255, 255, 0.3);
//     box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
//     backdrop-filter: blur(20px);
//     -webkit-backdrop-filter: blur(20px);
//     border-radius: 10px;
// }

#card[data-isOpen="true"] {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    scale: 1;

    background-color: white;
    z-index: 1;
    height: 80vh;
    position: absolute;
    border-radius: 10px;
}

.card_container {
    cursor: pointer;
    display: block;
    position: relative;
    animation-name: animateIn;
    animation-duration: .35s;
    animation-delay: calc(var(--animation-order)*100ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

.card_container,
.card_container:before {
    width: calc(var(--base-grid)*35);
    height: calc(var(--base-grid)*35);
}

.card_link {
    background-color: var(--colour-body-background);
    border: 2px solid var(--colour-background);
    display: block;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    border-radius: 18px;

}

.card_content {
    background-color: var(--colour-background);
    color: var(--colour-text);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: calc(var(--base-grid)*2);
    display: flex;
    flex-direction: column;
    border: 4px solid;
    border-color: white;
    border-radius: 15px;
}

.card_content_lhs {
    clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 51% 0, 51% 100%, 0 100%);

}

.card_content_rhs {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
    transition: transform .5s ease-in-out, background-color .4s ease-in-out;
}

.card_title {
    font-size: calc(var(--base-grid)*5);
    line-height: 1.125;
    font-weight: 700;
    letter-spacing: -.02em;
}

.card_footer {
    margin-top: auto;
    font-size: calc(var(--base-grid)*2);
    line-height: calc(var(--base-grid)*2);
    display: flex;
    justify-content: space-between;
}

.card_link:hover .card_content_rhs {
    background-color: var(--colour-background-folded);
    transform: rotateY(-50deg);
}

@media screen and (min-width: 1536px){

    .card_container,
    .card_container:before {
        width: calc(var(--base-grid)*55);
        height: calc(var(--base-grid)*50);
    }

}