@import "reset";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {

    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;

    height: 100vw;
    width: 100vw;
}


main {
//     height: 100vh;
//     padding: 10rem;
//     background: linear-gradient(172deg, #0011e0, #00f0ff, #0d0a2c, #8349ff, #ff1fa2, #ffc0ff);
//     background-size: 1200% 1200%;

//     .main_container {
//         position: relative;
//         width: 100%;
//         height: 100%;

//         height: 100%;
//         background: rgba(21, 21, 21, 0.55);
//         box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
//         backdrop-filter: blur(20px);
//         -webkit-backdrop-filter: blur(20px);
//         border-radius: 10px;
//         border: 1px solid rgba(255, 255, 255, 0.18);

//     }
}