@import "reset";

html, body {

    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;

    height: 100vw;
    width: 100vw;
}

.second_div {
    height: 100%;
    background: rgba(21, 21, 21, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.introduction {
    color: white;
    font-size: xx-large;
}
main {
    height: 100vh;
    padding: 4rem;
    background: linear-gradient(172deg, #0011e0, #00f0ff, #0d0a2c, #8349ff, #ff1fa2, #ffc0ff);
    background-size: 1200% 1200%;

    -webkit-animation: Background_Gradient 80s ease infinite;
    -moz-animation: Background_Gradient 80s ease infinite;
    animation: Background_Gradient 80s ease infinite;

    .main_container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;

        // background: rgba(21, 21, 21, 0.80);
        // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        // backdrop-filter: blur(20px);
        // -webkit-backdrop-filter: blur(20px);
        // border-radius: 10px;
        // border: 1px solid rgba(255, 255, 255, 0.18);

        div {
            position: absolute;
            border-radius: 50%;
        }

        div:nth-child(1){
            height: 60%;
            width: 30%;
            background-color: #FF1FA2;
        }

        div:nth-child(2) {
            height: 100%;
            width:100%;
            left: 30%;
            top: 0;
            background-color: #0D0A2C;
        }

        div:nth-child(3) {
            height: 90%;
            width: 60%;
            top: 20rem;
            background-color: #FFC0FF;
        }

        div:nth-child(4) {
            height: 60%;
            width: 40%;
            left: 30%;
            top: 30%;
            background-color: #8349FF;
        }

        div:nth-child(5) {
            height: 60%;
            width: 40%;
            left: 60%;
            top: 55%;
            background-color: #0011E0;
        }

        div:nth-child(6) {
            height: 30%;
            width: 30%;
            left: 70%;
            top: 70%;
            background-color: #00F0FF;
        }

        &::after {
            position: absolute;
            height: 100%;
            width: 100%;
            content: "";
            backdrop-filter: blur(40px);
        }

    }
}

@-webkit-keyframes Background_Gradient {
    0% {
        background-position: 27% 0%
    }

    50% {
        background-position: 74% 100%
    }

    100% {
        background-position: 27% 0%
    }
}

@-moz-keyframes Background_Gradient {
    0% {
        background-position: 27% 0%
    }

    50% {
        background-position: 74% 100%
    }

    100% {
        background-position: 27% 0%
    }
}

@keyframes Background_Gradient {
    0% {
        background-position: 27% 0%
    }

    50% {
        background-position: 74% 100%
    }

    100% {
        background-position: 27% 0%
    }
}