@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "reset";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@theme-toggles/react/css/Around.css";

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --dark-color: hsl(var(--hue), 100%, 9%);
    --light-color: hsl(var(--hue), 95%, 98%);
    --base: hsl(var(--hue), 95%, 50%);
    --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
    --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);

    --font-family: 'Roboto Mono', system-ui;

    --bg-gradient: linear-gradient(to bottom,
            hsl(var(--hue), 95%, 99%),
            hsl(var(--hue), 95%, 84%));
    --bg-gradient-dark: linear-gradient(to bottom,
            hsl(0, 0%, 0%),
            hsl(var(--hue), 95%, 15%));
}

html, body {

    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;

    height: 100%;
    width: 100%;

    background-color: var(--base-color);
}


