hr {
    width: 85%;
    height: 3px;
    margin-left: 2rem;
    border: none;
    background: linear-gradient(90deg,
    hsl(var(--hue), 95%, 50%),
    hsl(var(--hue-complimentary1), 95%, 75%));
}

#label_button {
    color: hsl(var(--hue), 100%, 65%);
}

li {
    color: hsl(var(--hue), 100%, 65%);
    padding-top: 5px;
    padding-bottom: 5px;
}

li span  {
    color: black;
    font-weight: 500;
}


